div {
    background-color: blue;
}
div div {
    background-color: green;
}

div div span {
    background-color: yellow;
}
div span:nth-child(2){
    background-color: grey;
}
div:nth-child(2){
    background-color: red;
    color: white;
}
div:nth-child(2) span {
    background-color: orange;
}